* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(135deg, #8DE5DB, #289C8E, #117C6F);
  background-size: 200% 200%;
  animation: fundoAnimado 12s ease infinite;
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes fundoAnimado {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}